@keyframes button-blink {
  0% {
    background-position: 0% 0%;
    background-color: $background-color-button-tertiary;
  }
  100% {
    background-position: 0% 100%;
    background-color: $background-color-button-quaternary;
  }
}
