#edit-note {
  background-color: $background-color-secondary;
  padding: $padding-primary;
  min-height: 100vh;

  section {
    display: flex;
    justify-content: center;
    article {
      @include article-primary;
      h2 {
        @include h-primary;
      }
      form {
        @include form-primary;
        div {
          display: flex;
          flex-direction: column;
          #note {
            width: 250px;
          }
        }
        button {
          @include button-primary;
          background-color: $background-color-secondary;
        }
      }
    }
  }
}
