// text color
$color-primary: black;
// background color
$background-color-primary: rgb(236, 61, 236);
$background-color-secondary: rgb(225, 23, 225);
// Button background color
$background-color-button-primary: rgb(236, 61, 236);
$background-color-button-secondary: rgb(225, 23, 225);
$background-color-button-tertiary: red;
$background-color-button-quaternary: blue;
// Border color
$border-color-primary: rgb(255, 255, 255);
$border-color-secondary: blue;
$border-color-tertiary: red;
