@mixin button-primary {
  max-height: 60px;
  padding: $padding-primary;
  margin: $margin-primary;
  border-radius: 50%;
  background-color: $background-color-button-primary;
  border: $border-primary;

  &:hover {
    cursor: pointer;
    opacity: $opacity-primary;
  }
}

@mixin article-primary {
  width: $note-width;
  min-height: $note-height;
  background-color: $background-color-primary;
  padding: $padding-primary;
  margin: $margin-primary;
  border: $border-primary;
  border-radius: 50%;
}

@mixin h-primary {
  font-family: $font-cursive;
  text-align: center;
}

@mixin form-primary {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
